<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_employees_departments.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center"><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_employees_departments.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @departments.each do |department| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: department.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td>
                        <%= link_to department.name, erp_employees.edit_backend_department_path(department), class: 'title' %>                        
                    </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td class="text-center">
                        <%= erp_component('avatar', {
                            user: department.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= department.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_employees.edit_backend_department_path(department)
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_employees.backend_department_path(department),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @departments.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
        
<%= erp_datalist_pagination(@departments) %>